<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="spaces content">
      <h2><%= spaces.title %></h2>
      <p>Category: <%= spaces.category %></p>
      <br />
      <p>
        Description: <br />
        <%= spaces.description %>
      </p>
      <br />
      <p>Nearest Building: <%= spaces.nearestBuilding %></p>
      <br />
      <p>Type of Space: <%= spaces.type %></p>
      <br />
      <p>Number of Outlets: <%= spaces.outlets %></p>
      <br />
      <p>Estimated Capacity: <%= spaces.capacity %></p>
      <br />
      <p>
        Peak Times: <%= spaces.peak %> from <%= spaces.time1 %> to <%=
        spaces.time2 %>
      </p>
      <br />

      <button id="delete" data-doc="<%= spaces._id %>">Delete</button>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
  <script>
    const button = document.getElementById("delete");
    button.addEventListener("click", (e) => {
      const endpoint = `/spaces/${e.target.dataset.doc}`;
      fetch(endpoint, {
        method: "DELETE",
      })
        .then((res) => res.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => {
          console.log(err);
        });
    });
  </script>
</html>
