<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>

    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Spaces</h2>
      <% if (spaces.length > 0)  { %>
        <% spaces.forEach(space => { %>
          <a class="single" href="/spaces/<%= space._id %>">
            <h3><%= space.title %></h3>
            <p><%=space.category %></p>
          </a>
        <% }); %>
      <% } else { %>
        <h3>We couldn't find any Spaces.</h3>
      <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
