<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>

    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <% if (spaces.length > 0)  { %>
        <% spaces.forEach(blog => { %>
          <a class="single" href="/spaces/<%= spaces._id %>">
            <h3><%= spaces.title %></h3>
            <p><%=spaces.category %></p>
          </a>
        <% }); %>
      <% } else { %>
        <h3>We couldn't find any Spaces.</h3>
      <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
