<%- include('../partials/head.ejs') %>
<body>

  <%- include('../partials/nav.ejs') %>
  <div class="birkin">
  <div class="blogs content">
    <h2>All Spaces</h2>
    <input type = "test" placeholder="search">
    <% if (spaces.length > 0)  { %>
      <% spaces.forEach(space => { %>
        <div class="space-section">
          <a class="links" href="/spaces/<%= space._id %>">
            <h3 class="space-title"><%= space.title %></h3>
            <p class="space-category"><%=space.category %></p>
            <img src="<%= space.img.data %>" alt="<%= space.title %> image">
          </a>
        </div><br>
      <% }); %>
    <% } else { %>
      <h3>We couldn't find any Spaces.</h3>
    <% } %>
    </div>
  </div>
    <div class="bg-animation">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div id="stars4"></div>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>
</html>